@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import 'button';
@import 'animations';

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  position: relative;

  .bg-decoration {
    position: absolute;
    right: -174px;
    bottom: -70px;
    z-index: -1;

    @media (max-width: 1280px) {
      right: -58px;
      bottom: -104px;
    }
  }
}

main {
  margin-top: 50px;
  position: relative;
}

.error404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__inner {
    margin-top: -250px;
    max-width: 650px;
  }

  &__title {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 50px;

    span {
      font-family: monospace;
    }
  }

  &__undertitle {
    font-size: 28px;
    letter-spacing: .05em;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.5;
  }
}