body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-window {
  visibility: hidden;
  opacity: 0;
}

.modal-window-enter {
  opacity: 0;
  transform: scale(.9);
}

.modal-window-enter-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms;
}

.modal-window-exit {
  opacity: 1;
}

.modal-window-exit-active {
  visibility: hidden;
  opacity: 0;
  transform: scale(.9);
  transition: all 250ms;
}

.label {
  margin-bottom: 0.5rem;
}

.modes {
  margin-bottom: 1rem;
}

.button-container {
  margin-bottom: 0.5rem;
}

.fade-enter .btn {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .btn {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: opacity 500ms, transform 500ms;
}
/*---*/
/* Styles for TransitionGroup */
.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
/*---*/
/* Styles for React Router transitions animations */
/* Initial state when entering */
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}
/* Active state while entering */
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
/* Initial state when exiting */
.page-exit {
  opacity: 1;
  transform: scale(1);
}
/* Active state while exiting */
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}